In [1]:
print("Hello")

Hello

In [4]:
import pandas as pd
import numpy as np

In [5]:
books = pd.read_csv('BX-Books.csv', sep=';', encoding='latin-1', error_bad_lines=False)

c:\Users\SRI VENKATA ABHINAV\anaconda3\envs\books\lib\site-packages\IPython\core\interactiveshell.py:3552: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'
c:\Users\SRI VENKATA ABHINAV\anaconda3\envs\books\lib\site-packages\IPython\core\interactiveshell.py:3552: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [6]:
books.sample(5)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
216707,0528841971,Kids' Road Atlas (The Backseat Books Series),Rand McNally,1999,Rand McNally &amp; Company,http://images.amazon.com/images/P/0528841971.0...,http://images.amazon.com/images/P/0528841971.0...,http://images.amazon.com/images/P/0528841971.0...
27298,038511558X,Conspiracy of God,John C. Haughey,1976,Doubleday Books,http://images.amazon.com/images/P/038511558X.0...,http://images.amazon.com/images/P/038511558X.0...,http://images.amazon.com/images/P/038511558X.0...
114736,055329993X,The Return of the Ragpicker,OG MANDINO,1993,Bantam,http://images.amazon.com/images/P/055329993X.0...,http://images.amazon.com/images/P/055329993X.0...,http://images.amazon.com/images/P/055329993X.0...
10873,1562650033,God's tribesman,James C Hefley,1992,Accelerated Christian Education,http://images.amazon.com/images/P/1562650033.0...,http://images.amazon.com/images/P/1562650033.0...,http://images.amazon.com/images/P/1562650033.0...
158087,0345312201,Duluth,Gore Vidal,1991,Ballantine Books,http://images.amazon.com/images/P/0345312201.0...,http://images.amazon.com/images/P/0345312201.0...,http://images.amazon.com/images/P/0345312201.0...

In [7]:
books.shape

(271360, 8)

In [8]:
books = books[['ISBN','Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher','Image-URL-L']]

In [9]:
books.rename(columns={"Book-Title":'title',
                      'Book-Author':'author',
                     "Year-Of-Publication":'year',
                     "Publisher":"publisher",
                     "Image-URL-L":"image_url"},inplace=True)

In [10]:
books.head()

,ISBN,title,author,year,publisher,image_url
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...

In [11]:
users = pd.read_csv('BX-Users.csv', sep=";", error_bad_lines=False, encoding='latin-1')

c:\Users\SRI VENKATA ABHINAV\anaconda3\envs\books\lib\site-packages\IPython\core\interactiveshell.py:3552: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

In [12]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [13]:
users.shape

(278858, 3)

In [14]:
users.rename(columns={"User-ID":'user_id',
                      'Location':'location',
                     "Age":'age'},inplace=True)

In [15]:
ratings = pd.read_csv('BX-Book-Ratings.csv', sep=";", error_bad_lines=False, encoding='latin-1')

c:\Users\SRI VENKATA ABHINAV\anaconda3\envs\books\lib\site-packages\IPython\core\interactiveshell.py:3552: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

In [16]:
ratings.sample(5)

        User-ID        ISBN  Book-Rating
703108   171026  0345311396           10
599804   144705  3100302028            5
393855    95010  0811214982            0
778381   188513  0804113351            0
313127    75514  0385335482            7

In [17]:
ratings.shape

(1149780, 3)

In [18]:
ratings.rename(columns={"User-ID":'user_id',
                      'Book-Rating':'rating'},inplace=True)

In [19]:

print(books.shape, users.shape, ratings.shape, sep='\n')

(271360, 6)
(278858, 3)
(1149780, 3)

In [20]:
user_counts = ratings['user_id'].value_counts()

In [21]:
active_users = user_counts[user_counts >= 200].index

In [22]:
active_users

Int64Index([ 11676, 198711, 153662,  98391,  35859, 212898, 278418,  76352,
            110973, 235105,
            ...
             28634,  59727, 268622, 188951, 225595,  83671, 252827,  99955,
             36554,  26883],
           dtype='int64', length=905)

In [24]:
ratings = ratings[ratings['user_id'].isin(active_users)]

In [25]:
ratings.head()

      user_id        ISBN  rating
1456   277427  002542730X      10
1457   277427  0026217457       0
1458   277427  003008685X       8
1459   277427  0030615321       0
1460   277427  0060002050       0

In [26]:
book_counts = ratings.groupby('ISBN').size()

In [27]:
popular_books = book_counts[book_counts >= 50].index

In [28]:
ratings = ratings[ratings['ISBN'].isin(popular_books)]

In [29]:
ratings = ratings.merge(books, on='ISBN')

In [30]:
ratings.drop_duplicates(['user_id','ISBN'], inplace=True)

In [31]:
from scipy.sparse import csr_matrix

In [32]:
book_pivot = ratings.pivot_table(index='title', columns='user_id',
values='rating').fillna(0)
book_sparse = csr_matrix(book_pivot.values)
book_names = list(book_pivot.index)
print(f"Pivots: {book_pivot.shape[0]} books x {book_pivot.shape[1]} users")

Pivots: 515 books x 889 users

In [33]:
book_pivot

user_id,254,2276,2766,2977,3363,4017,4385,6242,6251,6323,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Bend in the Road,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,7.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [41]:
books = books.dropna(subset=['content'])

In [34]:
from surprise import Reader, Dataset, SVD
from surprise.model_selection import GridSearchCV, train_test_split
from surprise import accuracy

In [35]:
reader = Reader(rating_scale=(1, 10))
data = Dataset.load_from_df(ratings[['user_id','ISBN','rating']], reader)
trainset, testset = train_test_split(data, test_size=0.2, random_state=42)

In [36]:
param_grid = {'n_factors': [50, 100], 'n_epochs': [20, 30], 'lr_all': [0.005,
0.01]}
gs = GridSearchCV(SVD, param_grid, measures=['rmse'], cv=3)
gs.fit(data) 
print(f"Best SVD parameters: {gs.best_params['rmse']} with RMSE={gs.best_score['rmse']:.4f}")

Best SVD parameters: {'n_factors': 100, 'n_epochs': 20, 'lr_all': 0.005} with RMSE=3.4144

In [37]:
 best_params = gs.best_params['rmse']
 algo = SVD(**best_params)
 algo.fit(trainset)
 predictions = algo.test(testset)
 print("Test RMSE:", accuracy.rmse(predictions))

RMSE: 3.4388
Test RMSE: 3.438762696975027

In [38]:
def cf_recommend(user_id, top_n=5):
    """Recommend top-N books to a user using predicted ratings from SVD model."""
    # Find all books the user has not rated
    user_ratings = ratings[ratings['user_id'] == user_id]['ISBN'].unique()
    all_books = set(book_pivot.index)
    unrated_books = [book for book in all_books if ratings[(ratings['user_id']==user_id) & (ratings['title']==book)].empty]
    # Predict ratings for these books
    preds = []
    for book_title in unrated_books:
        # We need ISBN to predict, so look up ISBN from title
        ISBN = books[books['title'] == book_title]['ISBN'].values[0]
        preds.append((book_title, algo.predict(user_id, ISBN).est))
    preds.sort(key=lambda x: x[1], reverse=True)
    recommended = [title for (title, _) in preds[:top_n]]
    return recommended

In [39]:
book_name = "Harry Potter and the Prisoner of Azkaban"
cf_recommend(book_name)

['Harry Potter and the Prisoner of Azkaban (Book 3)',
 'Harry Potter and the Goblet of Fire (Book 4)',
 'Harry Potter and the Order of the Phoenix (Book 5)',
 'A Wrinkle in Time',
 'The Hobbit : The Enchanting Prelude to The Lord of the Rings']

In [40]:
books['content'] = books['title'] + ' ' + books['author']

In [43]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import pickle

In [44]:
books_small = books.sample(10000)

In [45]:
tfidf = TfidfVectorizer(stop_words='english', max_features=10000, min_df=5)
tfidf_matrix = tfidf.fit_transform(books_small['content'])

In [46]:
print(tfidf_matrix.shape)

(10000, 2467)

In [47]:
import psutil, os
process = psutil.Process(os.getpid())
print(process.memory_info().rss / 1e9, "GB used")

0.407236608 GB used

In [48]:
from sklearn.decomposition import TruncatedSVD
import time
small = tfidf_matrix[:5000, :10000]
t0 = time.time()
TruncatedSVD(n_components=20, n_iter=2).fit_transform(small)
print("Small run took", time.time() - t0, "sec")

Small run took 0.17372751235961914 sec

In [49]:
svd = TruncatedSVD(n_components=30, n_iter= 2, random_state=42)
book_embeddings = svd.fit_transform(tfidf_matrix)  
with open('svd_tfidf.pkl', 'wb') as f:
    pickle.dump(svd, f)
print("Step 1: SVD reduction done - embeddings shape:", book_embeddings.shape)

Step 1: SVD reduction done - embeddings shape: (10000, 30)

In [50]:
d = book_embeddings.shape[1]  
possible_ms = [m for m in range(1, 9) if d % m == 0]
m = max(possible_ms)
print("Using m =", m, "subquantizers for d =", d)

Using m = 6 subquantizers for d = 30

In [51]:
book_embeddings = book_embeddings.astype('float32')

In [71]:
import faiss
nlist = 256
nbits = 8
quantizer = faiss.IndexFlatL2(d)
index_pq = faiss.IndexIVFPQ(quantizer, d, nlist, m, nbits)
index_pq.train(book_embeddings)
index_pq.add(book_embeddings)
faiss.write_index(index_pq, 'faiss_book_index.ivf')

In [72]:
with open('svd_tfidf.pkl', 'rb') as f:
    svd = pickle.load(f)
index = faiss.read_index('faiss_book_index.ivf')

import difflib

def content_recommend_faiss(book_title, top_n=5):
    title_norm = book_title.strip().lower()
    if title_norm not in indices:
        possibilities = difflib.get_close_matches(title_norm, indices.index, n=3, cutoff=0.6)
        msg = f"Title '{book_title}' not found."
        if possibilities:
            msg += " Did you mean: " + ", ".join(possibilities) + "?"
        print(msg)
        return []
    idx = indices[title_norm]
    tfidf_vec = tfidf_matrix[idx]
    emb = svd.transform(tfidf_vec)[0].astype(np.float32).reshape(1, -1)
    distances, neighbors = index.search(emb, top_n+1)
    recs = []
    for nid in neighbors[0]:
        title = books.iloc[nid]['title']
        if title.strip().lower() != title_norm:
            recs.append(title)
        if len(recs) >= top_n:
            break
    return recs

In [73]:
def hybrid_recommend(user_id, book_title=None, top_n=10):
    recs = []
    if book_title:
        recs.extend(content_recommend_faiss(book_title, top_n=top_n//2))
    recs.extend(cf_recommend(user_id, top_n=top_n))
    return list(dict.fromkeys(recs))[:top_n]

In [74]:
books['title_norm'] = books['title'].str.strip().str.lower()
indices = pd.Series(books.index.values, index=books['title_norm']).drop_duplicates()

In [75]:
user_id_example = 11676
seed_book = "The Girl with the Dragon Tattoo"

print(f"Hybrid recommendations for user {user_id_example} and book '{seed_book}':")
for rank, title in enumerate(hybrid_recommend(user_id_example, seed_book, top_n=5), start=1):
    print(f"{rank}. {title}")

Hybrid recommendations for user 11676 and book 'The Girl with the Dragon Tattoo':
Title 'The Girl with the Dragon Tattoo' not found. Did you mean: the girl with the brown crayon, the man with the red tattoo, the girl with the persian shawl?
1. Gerald's Game
2. Rose Madder
3. Certain Prey
4. Girl, Interrupted
5. Tears of the Moon (Irish Trilogy)

In [83]:
pickle.dump(algo, open('model_svd.pkl','wb'))
pickle.dump(tfidf, open('tfidf_vectorizer.pkl','wb'))
pickle.dump(svd, open('svd_tfidf.pkl','wb'))
faiss.write_index(index, 'faiss_book_index.ivf')
pickle.dump(indices, open('indices.pkl','wb'))
books.to_pickle('books.pkl')
ratings.to_pickle('ratings.pkl')
pickle.dump(book_titles, open('book_titles.pkl','wb'))

In [79]:
book_titles = book_pivot.index

In [84]:
import os

files = [
    'model_svd.pkl',
    'tfidf_vectorizer.pkl',
    'svd_tfidf.pkl',
    'faiss_book_index.ivf',
    'indices.pkl',
    'books.pkl',
    'ratings.pkl',
    'book_titles.pkl'
]

for file in files:
    size_mb = os.path.getsize(file) / (1024 * 1024)
    print(f"{file}: {size_mb:.2f} MB")

model_svd.pkl: 2.24 MB
tfidf_vectorizer.pkl: 0.41 MB
svd_tfidf.pkl: 0.57 MB
faiss_book_index.ivf: 0.19 MB
indices.pkl: 15.77 MB
books.pkl: 62.93 MB
ratings.pkl: 2.14 MB
book_titles.pkl: 0.02 MB